In [263]:
import pandas as pd

# Load the COVID-19 dataset
covid_df = pd.read_csv('Dataset/PK COVID-19.csv')

# Load the city coordinates dataset
coord_df = pd.read_csv('Dataset/covid_cases_city_coordinates.csv', encoding='utf-8-sig')  # Fix encoding for special characters

# Display the first few rows of each
print("COVID-19 Data:")
print(covid_df.head())

print("\nCity Coordinates Data:")
print(coord_df.head())

COVID-19 Data:
        Date  Cases  Deaths  Recovered Travel_history  \
0  2/26/2020      1       0          0          China
1  2/26/2020      2       0          0    Iran/Taftan
2  2/29/2020      1       0          0          China
3  2/29/2020      1       0          0    Iran/Taftan
4   3/2/2020      1       0          0    Iran/Taftan

                      Province       City
0  Islamabad Capital Territory  Islamabad
1                        Sindh    Karachi
2  Islamabad Capital Territory  Islamabad
3                        Sindh    Karachi
4             Gilgit-Baltistan     Gilgit

City Coordinates Data:
            City  Latitude (generated)  Longitude (generated)
0     Abbottabad             34.150000              73.213800
1         Astore             35.347533              74.861062
2         Attock             33.772000              72.368000
3          Badin             24.650000              68.833000
4  Bahawal Nagar             30.550000              73.390000

In [264]:
covid_df.describe()

            Cases      Deaths   Recovered
count  847.000000  847.000000  847.000000
mean     9.935065    0.198347    2.520661
std     22.721862    0.790515   16.062577
min      0.000000    0.000000    0.000000
25%      1.000000    0.000000    0.000000
50%      3.000000    0.000000    0.000000
75%      8.000000    0.000000    0.000000
max    366.000000   10.000000  273.000000

In [265]:
coord_df.describe()

       Latitude (generated)  Longitude (generated)
count             92.000000              92.000000
mean              31.271885              71.453873
std                3.114107               2.380995
min               24.650000              61.580755
25%               29.322900              70.158291
50%               31.949500              71.659950
75%               33.732550              73.129800
max               36.273351              76.341063

In [266]:
covid_df.Province.value_counts()

Province
Punjab                                298
Khyber Pakhtunkhwa                    254
Sindh                                 120
Gilgit-Baltistan                       58
Baluchistan                            36
Federal Administration Tribal Area     32
Islamabad Capital Territory            29
Azad Jummu Kashmir                     18
khyber Pakhtunkhwa                      2
Name: count, dtype: int64

In [267]:
covid_df.isnull().sum()

Date              0
Cases             0
Deaths            0
Recovered         0
Travel_history    0
Province          0
City              0
dtype: int64

In [268]:
coord_df.isnull().sum()

City                      0
Latitude (generated)     27
Longitude (generated)    27
dtype: int64

In [269]:
null_df = coord_df[coord_df.isnull().any(axis=1)]
null_df.head()

             City  Latitude (generated)  Longitude (generated)
8       Battagram                   NaN                    NaN
10       Bhambore                   NaN                    NaN
15        Chitral                   NaN                    NaN
16  Chitral Lower                   NaN                    NaN
17  Chitral Upper                   NaN                    NaN

In [270]:
coordinates = {
    "Diamer": (35.5793, 74.2012),
    "Jamshoro": (25.4286, 68.2820),
    "Kambar Shahdadkot": (27.8475, 67.9064),
    "Khairpur": (27.5295, 68.7592),
    "Khanewal": (30.3017, 71.9321),
    "Kharmang": (34.5123, 76.0905),
    "Kohistan Lower": (35.0000, 73.3500),
    "Kohistan upper": (35.2500, 73.6500),
    "Kolai Pallas": (34.9850, 72.9410),
    "Kurram": (33.8132, 70.1764),
    "Mohamand": (34.4055, 71.4332),
    "Mohmand": (34.4055, 71.4332), 
    "North Waziristan": (32.8250, 69.1748),
    "Pakpatan": (30.3410, 73.3867),
    "Sahewal": (30.6700, 73.1100),
    "Shaheed Benazirabad": (26.1574, 68.3030),
    "Shigar": (35.4229, 75.7341),
    "Shujawal": (24.5961, 68.0352),
    "Sujawal": (24.6070, 68.0717),
    "Tharparkar": (24.7395, 70.2010),
    "Torghar": (34.5000, 72.9167),
    "Trarkhel": (33.7722, 73.7081),
    "Battagram": (34.6765, 73.0238),
    "Bhambore": (24.7465, 67.2010),
    "Chitral": (35.8510, 71.7864),
    "Chitral Lower": (35.8510, 71.7864),  # Same as Chitral
    "Chitral Upper": (36.0000, 72.0000),
    "Rahim Yar Khan": (28.4212, 70.2989)

}
for city, (lat, lon) in coordinates.items():
    coord_df.loc[coord_df["City"] == city, ["Latitude (generated)", "Longitude (generated)"]] = lat, lon

# Verify the updates
print(coord_df.loc[coord_df["City"].isin(coordinates.keys())])

                    City  Latitude (generated)  Longitude (generated)
8              Battagram               34.6765                73.0238
10              Bhambore               24.7465                67.2010
15               Chitral               35.8510                71.7864
16         Chitral Lower               35.8510                71.7864
17         Chitral Upper               36.0000                72.0000
21                Diamer               35.5793                74.2012
37              Jamshoro               25.4286                68.2820
40     Kambar Shahdadkot               27.8475                67.9064
45              Khairpur               27.5295                68.7592
46              Khanewal               30.3017                71.9321
47              Kharmang               34.5123                76.0905
51        Kohistan Lower               35.0000                73.3500
52        Kohistan upper               35.2500                73.6500
53          Kolai Pallas               34.9850                72.9410
54                Kurram               33.8132                70.1764
69              Mohamand               34.4055                71.4332
70               Mohmand               34.4055                71.4332
78      North Waziristan               32.8250                69.1748
82              Pakpatan               30.3410                73.3867
86        Rahim Yar Khan               28.4212                70.2989
91               Sahewal               30.6700                73.1100
94   Shaheed Benazirabad               26.1574                68.3030
97                Shigar               35.4229                75.7341
99              Shujawal               24.5961                68.0352
103              Sujawal               24.6070                68.0717
111           Tharparkar               24.7395                70.2010
114              Torghar               34.5000                72.9167
115             Trarkhel               33.7722                73.7081

In [271]:
null_df = coord_df[coord_df.isnull().any(axis=1)]
null_df.head()

Empty DataFrame
Columns: [City, Latitude (generated), Longitude (generated)]
Index: []

In [272]:
# Check for duplicates
print(covid_df.duplicated().sum())

0

In [ ]:
covid_df = covid_df.copy() 
covid_df['Travel_history'] = covid_df['Travel_history'].str.title().str.strip()
covid_df['City'] = covid_df['City'].str.title().str.strip()
covid_df['Province'] = covid_df['Province'].str.title().str.strip()

covid_df['Cases'] = covid_df['Cases'].fillna(0)
covid_df['Deaths'] = covid_df['Deaths'].fillna(0)
covid_df['Recovered'] = covid_df['Recovered'].fillna(0)

covid_df['City'] = covid_df['City'].replace({'Dira Ismail Khan': 'Dera Ismail Khan'})

In [274]:
# Convert the 'Date' column to datetime format
covid_df['Date'] = pd.to_datetime(covid_df['Date'], format='%m/%d/%Y')

In [275]:
# Aggregate by date
daily_totals = covid_df.groupby('Date').agg({
    'Cases': 'sum',
    'Deaths': 'sum',
    'Recovered': 'sum'
}).reset_index()

print(daily_totals.head())

        Date  Cases  Deaths  Recovered
0 2020-02-26      3       0          0
1 2020-02-29      2       0          0
2 2020-03-02      1       0          0
3 2020-03-06      0       0          1
4 2020-03-07      1       0          0

In [276]:
# Aggregate by province
province_totals = covid_df.groupby('Province').agg({
    'Cases': 'sum',
    'Deaths': 'sum',
    'Recovered': 'sum'
}).reset_index()

province_totals

                             Province  Cases  Deaths  Recovered
0                  Azad Jummu Kashmir     49       0          1
1                         Baluchistan    415       5        167
2  Federal Administration Tribal Area     46       0         11
3                    Gilgit-Baltistan    263       3        195
4         Islamabad Capital Territory    176       2         15
5                  Khyber Pakhtunkhwa   1078      61        196
6                              Punjab   3777      41        685
7                               Sindh   2611      56        865

In [277]:
# Drop rows with missing coordinates (optional)
coord_df = coord_df.dropna(subset=['Latitude (generated)', 'Longitude (generated)'])

In [278]:
coord_df.isna().sum()

City                     0
Latitude (generated)     0
Longitude (generated)    0
dtype: int64

In [279]:
coord_df = coord_df.rename(columns={
    'Latitude (generated)': 'Latitude',
    'Longitude (generated)': 'Longitude'
})

In [280]:
# Merge the datasets on 'City'
merged_df = pd.merge(
    covid_df,
    coord_df,
    on='City',
    how='left'
)

# Check merged data
print(merged_df.head())

        Date  Cases  Deaths  Recovered Travel_history  \
0 2020-02-26      1       0          0          China
1 2020-02-26      2       0          0    Iran/Taftan
2 2020-02-29      1       0          0          China
3 2020-02-29      1       0          0    Iran/Taftan
4 2020-03-02      1       0          0    Iran/Taftan

                      Province       City   Latitude  Longitude
0  Islamabad Capital Territory  Islamabad  33.719400    73.0741
1                        Sindh    Karachi  24.870900    67.1145
2  Islamabad Capital Territory  Islamabad  33.719400    73.0741
3                        Sindh    Karachi  24.870900    67.1145
4             Gilgit-Baltistan     Gilgit  35.918473    74.3335

In [281]:
merged_df.isna().sum()

Date              0
Cases             0
Deaths            0
Recovered         0
Travel_history    0
Province          0
City              0
Latitude          1
Longitude         1
dtype: int64

In [283]:
merged_df['Active Cases'] = merged_df['Cases'] - merged_df['Deaths'] - merged_df['Recovered']

In [284]:
merged_df.head()

,Date,Cases,Deaths,Recovered,Travel_history,Province,City,Latitude,Longitude,Active Cases
0,2020-02-26,1,0,0,China,Islamabad Capital Territory,Islamabad,33.719400,73.0741,1
1,2020-02-26,2,0,0,Iran/Taftan,Sindh,Karachi,24.870900,67.1145,2
2,2020-02-29,1,0,0,China,Islamabad Capital Territory,Islamabad,33.719400,73.0741,1
3,2020-02-29,1,0,0,Iran/Taftan,Sindh,Karachi,24.870900,67.1145,1
4,2020-03-02,1,0,0,Iran/Taftan,Gilgit-Baltistan,Gilgit,35.918473,74.3335,1

In [285]:
merged_df.to_csv("Dataset/cleaned_data.csv")